<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pharma">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <queries>
        <package android:name="com.learn.tapasyaedu" />
    </queries>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".TestZoomActivity"
            android:exported="false" />
        <!--
         <activity
            android:name=".TestCalActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".ui.parent.PaymentTransactionDetailsActivity"
            android:exported="false" />
        <!--
        <activity
            android:name=".AtomPaymentActivity"
            android:exported="false" />
        -->
        <!--
        <activity
            android:name=".CreatePDFActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".ui.parent.PaymentReceiptActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.parent.NotificationsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.parent.OnlineClassesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.parent.EventsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.parent.ExamsDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.parent.ExamsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.parent.GalleryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.parent.DatesheetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.parent.ResultsDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.parent.ResultsListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.parent.TimeTableActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.parent.StudentProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.parent.StudentNotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.parent.StudentLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.parent.StudentDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--
<activity
            android:name=".ui.SplashScreenActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".ui.parent.AttendanceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.parent.HolidaysActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.parent.HomeWorkActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.parent.PaymentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--
        <activity
            android:name=".RequestPermissionActivity"
            android:exported="false" />
            CreatePDFActivity
            .ui.SplashScreenActivity
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name="com.atom.atompaynetzsdk.PayActivity"
            android:exported="false" />
        <!--.ui.SplashScreenActivity-->
        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>
    </application>

</manifest>